<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>笔记列表</title>
</head>
<body>
<div class="container">
    <div class="list-group">
        <foreach name="noteList" item="note">
            <a href="{:U('Note/modifyNote', array( noteid=> $note['id']))}" class="list-group-item">
                <h4 class="list-group-item-heading">{$note.date}</h4>
                <p class="list-group-item-text">{$note.content}</p>
            </a>
        </foreach>
    </div>
</div>
</body>
</html>